# Selecting Data

In [1]:
import pandas as pd

In [2]:
countries_data = pd.read_csv('top_10_countries.csv')

### Selecing a single column

In [3]:
countries_data

   Rank Country / Dependency    Region     Population % of world       Date
0     1                China      Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India      Asia  1,386,946,912     17.50%  18-Jan-22
2     3        United States  Americas    333,073,186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan      Asia    225,200,000      2.84%  01-Jul-21
5     6               Brazil  Americas    214,231,641      2.70%  18-Jan-22
6     7              Nigeria    Africa    211,401,000      2.67%  01-Jul-21
7     8           Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
8     9            Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
9    10               Mexico  Americas    126,014,024      1.59%  02-Mar-20

In [4]:
# Selecing the 'Region' column
countries_data['Region']

0        Asia
1        Asia
2    Americas
3        Asia
4        Asia
5    Americas
6      Africa
7        Asia
8      Europe
9    Americas
Name: Region, dtype: object

In [5]:
# A single column is a Series object - a DataFrame is a collection of Series objects
type(countries_data['Region'])

pandas.core.series.Series

### Selecting multiple columns

In [6]:
countries_data

   Rank Country / Dependency    Region     Population % of world       Date
0     1                China      Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India      Asia  1,386,946,912     17.50%  18-Jan-22
2     3        United States  Americas    333,073,186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan      Asia    225,200,000      2.84%  01-Jul-21
5     6               Brazil  Americas    214,231,641      2.70%  18-Jan-22
6     7              Nigeria    Africa    211,401,000      2.67%  01-Jul-21
7     8           Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
8     9            Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
9    10               Mexico  Americas    126,014,024      1.59%  02-Mar-20

In [7]:
# multiple columns must be passed into a list
countries_data[['Region','Country / Dependency', 'Rank']]

     Region Country / Dependency  Rank
0      Asia                China     1
1      Asia                India     2
2  Americas        United States     3
3      Asia         Indonesia[b]     4
4      Asia             Pakistan     5
5  Americas               Brazil     6
6    Africa              Nigeria     7
7      Asia           Bangladesh     8
8    Europe            Russia[b]     9
9  Americas               Mexico    10

### Selecting rows and columns

In [8]:
countries_data

   Rank Country / Dependency    Region     Population % of world       Date
0     1                China      Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India      Asia  1,386,946,912     17.50%  18-Jan-22
2     3        United States  Americas    333,073,186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan      Asia    225,200,000      2.84%  01-Jul-21
5     6               Brazil  Americas    214,231,641      2.70%  18-Jan-22
6     7              Nigeria    Africa    211,401,000      2.67%  01-Jul-21
7     8           Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
8     9            Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
9    10               Mexico  Americas    126,014,024      1.59%  02-Mar-20

In [9]:
# iloc requires index positions
countries_data.iloc[3]

Rank                                4
Country / Dependency     Indonesia[b]
Region                           Asia
Population                271,350,000
% of world                      3.42%
Date                        31-Dec-20
Name: 3, dtype: object

In [10]:
# Slicing the rows
countries_data.iloc[3:]

   Rank Country / Dependency    Region   Population % of world       Date
3     4         Indonesia[b]      Asia  271,350,000      3.42%  31-Dec-20
4     5             Pakistan      Asia  225,200,000      2.84%  01-Jul-21
5     6               Brazil  Americas  214,231,641      2.70%  18-Jan-22
6     7              Nigeria    Africa  211,401,000      2.67%  01-Jul-21
7     8           Bangladesh      Asia  172,062,576      2.17%  18-Jan-22
8     9            Russia[b]    Europe  146,171,015      1.84%  01-Jan-21
9    10               Mexico  Americas  126,014,024      1.59%  02-Mar-20

In [11]:
# Reversing the rows
countries_data.iloc[::-1]

   Rank Country / Dependency    Region     Population % of world       Date
9    10               Mexico  Americas    126,014,024      1.59%  02-Mar-20
8     9            Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
7     8           Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
6     7              Nigeria    Africa    211,401,000      2.67%  01-Jul-21
5     6               Brazil  Americas    214,231,641      2.70%  18-Jan-22
4     5             Pakistan      Asia    225,200,000      2.84%  01-Jul-21
3     4         Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
2     3        United States  Americas    333,073,186      4.20%  18-Jan-22
1     2                India      Asia  1,386,946,912     17.50%  18-Jan-22
0     1                China      Asia  1,412,600,000     17.80%  31-Dec-21

In [12]:
countries_data

   Rank Country / Dependency    Region     Population % of world       Date
0     1                China      Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India      Asia  1,386,946,912     17.50%  18-Jan-22
2     3        United States  Americas    333,073,186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan      Asia    225,200,000      2.84%  01-Jul-21
5     6               Brazil  Americas    214,231,641      2.70%  18-Jan-22
6     7              Nigeria    Africa    211,401,000      2.67%  01-Jul-21
7     8           Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
8     9            Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
9    10               Mexico  Americas    126,014,024      1.59%  02-Mar-20

In [13]:
# indexing rows and columns
countries_data.iloc[2,3]

'333,073,186'

In [16]:
countries_data.iloc[[2,3]]

   Rank Country / Dependency    Region   Population % of world       Date
2     3        United States  Americas  333,073,186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  271,350,000      3.42%  31-Dec-20

In [14]:
# Slicing rows and columns
countries_data.iloc[2:,1:4]

  Country / Dependency    Region   Population
2        United States  Americas  333,073,186
3         Indonesia[b]      Asia  271,350,000
4             Pakistan      Asia  225,200,000
5               Brazil  Americas  214,231,641
6              Nigeria    Africa  211,401,000
7           Bangladesh      Asia  172,062,576
8            Russia[b]    Europe  146,171,015
9               Mexico  Americas  126,014,024

In [15]:
# loc requires label names, it does not accept index positions
countries_data.loc[2,1]

KeyError: 1

In [ ]:
countries_data

   Rank Country / Dependency    Region    Population % of world       Date
0     1                China      Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India      Asia  1.386947e+09     17.50%  18-Jan-22
2     3        United States  Americas  3.330732e+08      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan      Asia  2.252000e+08      2.84%  01-Jul-21
5     6               Brazil  Americas  2.142316e+08      2.70%  18-Jan-22
6     7              Nigeria    Africa  2.114010e+08      2.67%  01-Jul-21
7     8           Bangladesh      Asia  1.720626e+08      2.17%  18-Jan-22
8     9            Russia[b]    Europe  1.461710e+08      1.84%  01-Jan-21
9    10               Mexico  Americas  1.260140e+08      1.59%  02-Mar-20

In [ ]:
# slicing rows and columns with loc requires label names
countries_data.loc[2:,['Country / Dependency','Population']]

  Country / Dependency   Population
2        United States  333073186.0
3         Indonesia[b]  271350000.0
4             Pakistan  225200000.0
5               Brazil  214231641.0
6              Nigeria  211401000.0
7           Bangladesh  172062576.0
8            Russia[b]  146171015.0
9               Mexico  126014024.0

### Conditional Selection

In [ ]:
countries_data

   Rank Country / Dependency    Region    Population % of world       Date
0     1                China      Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India      Asia  1.386947e+09     17.50%  18-Jan-22
2     3        United States  Americas  3.330732e+08      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan      Asia  2.252000e+08      2.84%  01-Jul-21
5     6               Brazil  Americas  2.142316e+08      2.70%  18-Jan-22
6     7              Nigeria    Africa  2.114010e+08      2.67%  01-Jul-21
7     8           Bangladesh      Asia  1.720626e+08      2.17%  18-Jan-22
8     9            Russia[b]    Europe  1.461710e+08      1.84%  01-Jan-21
9    10               Mexico  Americas  1.260140e+08      1.59%  02-Mar-20

In [ ]:
# Returns True if any value equals 'Asia'
countries_data=='Asia'

    Rank  Country / Dependency  Region  Population  % of world   Date
0  False                 False    True       False       False  False
1  False                 False    True       False       False  False
2  False                 False   False       False       False  False
3  False                 False    True       False       False  False
4  False                 False    True       False       False  False
5  False                 False   False       False       False  False
6  False                 False   False       False       False  False
7  False                 False    True       False       False  False
8  False                 False   False       False       False  False
9  False                 False   False       False       False  False

In [ ]:
# Only populates a value in the array if it is 'Asia'
countries_data[countries_data=='Asia']

   Rank Country / Dependency Region  Population % of world Date
0   NaN                  NaN   Asia         NaN        NaN  NaN
1   NaN                  NaN   Asia         NaN        NaN  NaN
2   NaN                  NaN    NaN         NaN        NaN  NaN
3   NaN                  NaN   Asia         NaN        NaN  NaN
4   NaN                  NaN   Asia         NaN        NaN  NaN
5   NaN                  NaN    NaN         NaN        NaN  NaN
6   NaN                  NaN    NaN         NaN        NaN  NaN
7   NaN                  NaN   Asia         NaN        NaN  NaN
8   NaN                  NaN    NaN         NaN        NaN  NaN
9   NaN                  NaN    NaN         NaN        NaN  NaN

In [ ]:
# Returns True if the 'Region' column contains the value 'Asia'
countries_data['Region']=='Asia'

0     True
1     True
2    False
3     True
4     True
5    False
6    False
7     True
8    False
9    False
Name: Region, dtype: bool

In [ ]:
# Returns the rows only if the 'Region' column contains 'Asia'
countries_data[countries_data['Region']=='Asia']

   Rank Country / Dependency Region    Population % of world       Date
0     1                China   Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India   Asia  1.386947e+09     17.50%  18-Jan-22
3     4         Indonesia[b]   Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan   Asia  2.252000e+08      2.84%  01-Jul-21
7     8           Bangladesh   Asia  1.720626e+08      2.17%  18-Jan-22

In [ ]:
# You can combine multiple conditions by enclosing them in parenthesis
# for logical operations where all conditions must be True use & - this is the AND logical operator sign
countries_data[(countries_data['Region']=='Asia') & (countries_data['Population']>300000000)]

   Rank Country / Dependency Region    Population % of world       Date
0     1                China   Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India   Asia  1.386947e+09     17.50%  18-Jan-22

In [ ]:
# You can combine multiple conditions by enclosing them in parenthesis
# for logical operations where all conditions must be True use | - this is the OR logical operator sign
countries_data[(countries_data['Region']=='Asia') | (countries_data['Population']>300000000)]

   Rank Country / Dependency    Region    Population % of world       Date
0     1                China      Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India      Asia  1.386947e+09     17.50%  18-Jan-22
2     3        United States  Americas  3.330732e+08      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan      Asia  2.252000e+08      2.84%  01-Jul-21
7     8           Bangladesh      Asia  1.720626e+08      2.17%  18-Jan-22

In [ ]:
# You can stack on additional filters
countries_data[(countries_data['Region']=='Asia') | (countries_data['Population']>300000000)][['Rank','Country / Dependency']]

   Rank Country / Dependency
0     1                China
1     2                India
2     3        United States
3     4         Indonesia[b]
4     5             Pakistan
7     8           Bangladesh

### head() and tail()

In [ ]:
# head returns the first 5 rows of a DataFrame
countries_data.head()

   Rank Country / Dependency    Region    Population % of world       Date
0     1                China      Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India      Asia  1.386947e+09     17.50%  18-Jan-22
2     3        United States  Americas  3.330732e+08      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan      Asia  2.252000e+08      2.84%  01-Jul-21

In [ ]:
# tail returns the last 5 rows of a DataFrame
countries_data.tail()

   Rank Country / Dependency    Region   Population % of world       Date
5     6               Brazil  Americas  214231641.0      2.70%  18-Jan-22
6     7              Nigeria    Africa  211401000.0      2.67%  01-Jul-21
7     8           Bangladesh      Asia  172062576.0      2.17%  18-Jan-22
8     9            Russia[b]    Europe  146171015.0      1.84%  01-Jan-21
9    10               Mexico  Americas  126014024.0      1.59%  02-Mar-20

## Links and resources:
* https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html